@import 'tailwindcss';

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Wix Madefor Text', sans-serif;
}

button:focus,
input:focus,
select:focus {
  border-color: #60a5fa;
  box-shadow: 0 0 0 2px #dbeafe;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button:not(:disabled):hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

@layer components {
  .btn-primary {
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
    background: #51a2ff;
    color: #fff;
    transition-property: background-color;
    transition-duration: 200ms;
  }
  .btn-primary:hover:enabled {
    background: #2b7fff;
  }
  .btn-primary:disabled {
    background: #bedbff;
  }

  .btn-secondary {
    padding: 8px 16px;
    border: 1px solid #ebe6e7;
    border-radius: 4px;
    font-weight: 500;
    background: #f6f3f4;
    color: #4a5565;
    transition-property: background-color;
    transition-duration: 200ms;
  }

  .btn-secondary:hover:enabled {
    background: #ebe6e7;
  }

  .btn-primary:disabled {
    background: #bedbff;
  }

  .spinner {
    animation: spinner 1s infinite linear;
    width: 2.2em;
    height: 2.2em;
  }

  @keyframes spinner {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
