.formContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
}

.attributeForm {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formButton {
  width: fit-content;
  padding: 5px;
}
