.dropdownContainer {
  width: fit-content;
  position: relative;
}

.dropdownList {
  position: absolute;
  min-width: 200px;
  z-index: 100;
  background: #ffffff;
  border-width: 1px 1px 0;
  border-color: #797777;
  border-style: solid;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  top: 100%;
  left: 0;
}

.dropdownListItem {
  position: relative;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  padding: 4px;
  color: #000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.dropdownListItem:hover {
  background: #6daffa;
  color: #fff;
  box-shadow: 2px 2px 5px rgba(32, 23, 116, 0.833);
  border-radius: 4px;
}
