.dropdownContainer {
  position: relative;
  display: flex;
  gap: 4px;
}

.dropdownButton {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 200px;
  min-height: 21px;
  padding: 4px;
  justify-content: space-between;
}

.dropdownButton::after {
  content: '';
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
}
